<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--common service beans -->
	<bean id="baseManager" class="com.holley.eemas.service.BaseManager">
		<property name="dao" ref="baseDAOIbatis" />
	</bean>
	<bean id="SpringContextUtil" class="com.holley.eemas.util.SpringContextUtil" />
</beans>
